.idea/
venv/
*.pyc
*.err
*.log

AttendanceEmailer/students.py
Verycross/staff/*
Verycross/students/*
Verycross/*.json

credentials/
creds/
creds.json
credentials.json

DreamBackup/data/old.txt

Ballerina/video/*
Ballerina/audio/*
Ballerina/output/*
CollegeStatus/schools.json

FEPCrawler/output/
BruteForce/data/staff.txt
